.inquiry {
  display: flex;
  margin-bottom: 100px;
  height: 650px;
  @media screen and (max-width:768px){
    flex-direction: column;
    height: auto;
    margin-bottom: 70px;
  }
  @media screen and (max-width:425px){
    margin-bottom: 40px;
  }

  &__heading {
    width: 50%;
    background-image: url("/images/Home/send__main.png");
    background-color: rgba($tintBlue, 50%);
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding-top: 90px;
    @media screen and (max-width:1024px){
      padding-top: 40px;
    }
    @media screen and (max-width:768px){
      width: 100%;
      padding: 40px 0 40px 0;
      text-align: center;
    }
    h1 {
      max-width: 450px;
      width: 90%;
      margin: 0 auto;
      font-size: 48px;
      line-height: 55px;
      font-weight: 600;
      @media screen and (max-width:768px){
        font-size: 38px;
        line-height: 45px;
      }
      @media screen and (max-width:768px){
        font-size: $font-lg;
        line-height: 35px;
      }
    }
    p {
      max-width: 450px;
      width: 90%;
      margin: 20px auto 0 auto;
    }
  }
  &__contact {
    background-color: $tintBlue;
    color: $white;
    width: 50%;
    padding: 90px 0 40px 0;
    @media screen and (max-width:1024px){
      padding: 40px 0 40px 0;
    }
    @media screen and (max-width:768px){
      width: 100%;
      padding: 50px 0 50px 0;
    }
    
    &--details {
      max-width: 430px;
      width: 90%;
      margin: 0 auto;
      @media screen and (max-width:768px){
        text-align: center;
      }

      p {
        margin: 10px 0 30px 0;
      }
      form {
        display: flex;
        flex-direction: column;

        input {
          background-color: transparent;
          border: none;
          outline: none;
          border: 2px solid rgba($white, 5%);
          margin: 8px 0;
          padding: 18px 25px;
          border-radius: 8px;
          color: $grey;
          font-weight: 500;
          font-size: $font-med;
          @media screen and (max-width:768px){
            font-size: $font-sm;
          }

          &::placeholder {
            color: $grey;
            opacity: 0.5;
            font-weight: 500;
            font-size: $font-med;
            @media screen and (max-width:768px){
              font-size: $font-sm;
            }
          }
        }
        button {
          margin: 30px 0 40px 0;
          background-color: $yellow;
          border: none;
          border-radius: 41px;
          font-size: $font-med;
          font-weight: 600;
          font-family: "Poppins", sans-serif;
          padding: 16px;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: #FFCE51;
          }
        }
      }
      &__link {
        text-align: center;

        img {
          margin-left: 15px;
        }
      }
    }
  }
}