.site-imageText {
  margin: 100px 0;
  padding: 40px 0 100px 0;

  @media screen and (max-width:768px){
    margin: 70px 0;
    padding: 30px 0 70px 0;
  }
  @media screen and (max-width:425px){
    margin: 50px 0;
    padding: 20px 0 50px 0;
  }
}
.imageText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;

  @media screen and (max-width:650px){
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }
  &__info {
    order: 2;
    max-width: 510px;
    width: 100%;
    margin-left: 10px;
    h2 {
      margin-bottom: 30px;
      @media screen and (max-width:768px){
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width:650px){
      margin-top: 30px;
    }
    @media screen and (max-width:425px){
      margin-top: 10px;
    }
  }

  &__img {
    max-width: 520px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}