.caseStudies {
  padding: 100px;

  @media screen and (max-width:768px){
    padding: 60px 0;
  }
  @media screen and (max-width:425px){
    padding: 40px 0;
  }
  

  h4 {
    opacity: 0.8;
  }
  h2 {
    max-width: 500px;
    width: 100%;
    margin: 12px 0;
  }
  p {
    width: 90%;
    margin-bottom: 30px;
    @media screen and (max-width: 425px){
      margin-bottom: 10px;
    }
  }
  &__img {
    max-width: 1000px;
    width: 100%;
    margin-bottom: 30px;
    @media screen and (max-width: 425px){
      margin-bottom: 10px;
    }
  }
  &__details {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($darkBlue, 30%);
    padding-bottom: 30px;
    @media screen and (max-width:768px){
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      padding-bottom: 20px;
    }
    @media screen and (max-width: 425px){
      flex-direction: column;
      justify-content: center;
      padding-bottom: 10px;
    }

    div {
      margin: 0 10px;
      @media screen and (max-width:768px){
        margin: 5px 10px;
      }
      @media screen and (max-width: 425px){
        margin: 5px 0px;
      }
      
      h6 {
        font-size: $font-med;
        font-weight: 500;
        @media screen and (max-width: 425px){
          font-size: $font-sm;
        }
      }
      h5 {
        font-size: 22px;
        margin-top: 4px;
        font-weight: 500;
        @media screen and (max-width: 425px){
          margin-top: 0px;
          font-size: 18px;
        }
      }
    }
  }

  &__about {
    padding: 80px 70px 50px 70px;
    @media screen and (max-width:600px){
      padding: 40px 30px 30px 30px;
    }
    @media screen and (max-width:600px){
      padding: 30px 00px 20px 00px;
    }

    h3 {
      font-size: 34px;
      font-weight: 600;
      margin-bottom: 12px;
      @media screen and (max-width:768px){
        font-size: 30px;
      }
      @media screen and (max-width:425px){
        font-size: 26px;
        margin-bottom: 5px;
      }
    }
    p {
      width: 100%;
    }
    ul {
      list-style-type: circle;
      li {
        display: flex;
        align-items: center;
        margin: 10px 0;

        img {
          margin-right: 15px;
        }
      }
    }
    &--img {
      width: 100%;
      margin-top: 40px;
      @media screen and (max-width:600px){
        margin-top: 20px;
      }
    }
    &--how {
      margin-top: 40px;
    }
  }

}