.vision--mission {
  background-color: #EEF4FA;
  margin-top: 100px;

  @media screen and (max-width:425px){
    margin-top: 50px;
  }
}

.vision {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;

  @media screen and (max-width:650px){
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
  }
  &__info {
    order: 2;
    max-width: 510px;
    width: 100%;
    margin-left: 10px;
    h2 {
      margin-bottom: 30px;
      @media screen and (max-width:768px){
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width:650px){
      margin-top: 30px;
    }
    @media screen and (max-width:425px){
      margin-top: 10px;
    }
  }

  &__img {
    max-width: 520px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}