.site-feature {

  .feature {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 15px;

    &__block {
      display: flex;
      flex-direction: column;
      max-width: 380px; 
      width: 100%;
      padding: 45px 30px 40px 40px;
      margin: 10px 10px;
      color: $darkBlue;

      img {
        width: 32px;
      }
      h4 {
        margin: 15px 0px;
      }
      p {
        margin-top: auto;
      }
    }

    @media screen and (max-width:1024px){
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width:600px){
      grid-template-columns: 1fr 1fr;

      &__block {
        padding: 30px 10px 30px 20px;

        h4 {
          margin: 5px 0;
        }
      }
    }
    @media screen and (max-width:400px){
      grid-template-columns: 1fr 1fr;

      &__block {
        padding: 20px 5px 20px 15px;
      }
    }
  }
}

