.site-footer {
  background-color: $tintBlue;
  padding-top: 90px;
  color: rgba($grey, 80%);
  @media screen and (max-width: 650px){
    padding-top: 40px;
  }

  .footer {
    display: flex;
    @media screen and (max-width:650px){
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }

    &__left {
      margin-right: 120px;
      @media screen and (max-width:650px){
        margin-right: 0px;
        p {
          margin: 0 auto;
        }
      }
      img {
        width: 140px;
        margin-bottom: 42px;
      }
      p {
        max-width: 400px;
        width: 100%;
        margin-bottom: 60px;
        @media screen and (max-width: 650px){
          margin-bottom: 20px;
        }
      }
      &--contact {
        display: flex;
        align-items: center;
        background-color: $yellow;
        flex-wrap: wrap;
        max-width: 500px;
        width: 100%;
        padding: 17px 20px 17px 30px;
        color: $darkBlue;
        @media screen and (max-width: 650px){
          margin: 0 auto;
          justify-content: center;
          padding: 17px 10px 17px 10px;
        }
        @media screen and (max-width: 410px){
          flex-direction: column;
        }

        h5 {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        h6 {
          font-size: 16px;
          font-weight: 400;
          color: rgba($darkBlue, 80%)
        }
        &__email {
          margin-right: 30px;
          @media screen and (max-width: 410px){
            margin-right: 0px;
            margin-bottom: 10px;
          }
        }
      }
    }

    &__right {
      max-width: 400px;
      @media screen and (max-width: 650px){
        margin: 50px auto 0 auto;
      }
      h2 {
        margin-bottom: 20px;
        color: $white;
        margin-top: -10px;
        @media screen and (max-width: 650px){
          margin-bottom: 10px;
        }
      }
      &--icons {
        display: flex;
        align-items: center;
        margin-top: 30px;
        @media screen and (max-width: 650px){
          margin: 20px auto 0 auto;
          justify-content: center;
        }

        a {
          margin-right: 25px;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.4);
          }
          @media screen and (max-width: 650px){
            margin: 0px 15px 25px 15px;
          }
        }
      }
    }
  }
}