.infoImg {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width:650px){
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &__info {
    max-width: 480px;
    width: 100%;
    margin-right: 10px;
    h2 {
      margin-bottom: 30px;
      @media screen and (max-width:768px){
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width:650px){
      margin-bottom: 30px;
    }
    @media screen and (max-width:425px){
      margin-bottom: 10px;
    }
  }

  &__img {
    max-width: 520px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}