.testimonials {


  p {
    font-size: 30px;
    font-weight: 500;
    line-height: 44px;
    @media screen and (max-width: 425px){
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    &--client {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        margin-right: 8px;
        object-fit: cover;
      }
      span {
        display: flex;
        flex-direction: column;
        text-align: left;
        h5 {
          font-size: 17px;
          font-weight: 500;
        }
        h6 {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    &--buttons {
      display: flex;
      align-items: center;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: none;
        
      }

      &__left {
        margin-right: 20px;
        background-color: $white;
        color: grey;
        transition: all 0.3s ease;

        &:hover {
          background-color: $darkInk;
        color: $white;
        }
      }

      &__right {
        background-color: $darkInk;
        color: $white;
        transition: all 0.3s ease;
        &:hover {
          background-color: $white;
          color: grey;
        }
      }
    }
  }
}